*{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    background-color:#262626;
    color: #edcab4;
    text-decoration: none;
}


/* Navigation CSS / Header CSS*/
.Navigation{
    height: 75px;
    width: 100%;
    /* background-color: #070417; */
    color: #f26f22;
    display: flex;
    justify-content: space-evenly;
    /* position:fixed; */
    margin-right:10px ;
    padding-right: 15px;
    border-bottom: 10px maroon solid;
}
.Navigation div{
    margin-right: 60px;
    font-size: 40px;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-logo{
    width: 180px;
    height:65px;
    overflow: hidden;
    border-radius: 50%;
    cursor: pointer;
}
img{
    /* margin-top: 5px;     */
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    object-fit: cover;
}
.cart{
    padding-right: 50px;
    cursor: pointer;
}

.fa-cart-shopping{
    margin-top: 5px;
}
.fa-heart{
    margin-top: 5px;

}
.fa-house{
    margin-top: 5px;
}
.nav-logo img{
    height: 65px;
    width: 180px;

}
.fa-table-cells{
    margin-top: 10px;
}
.categories{
    display: flex;
    cursor: pointer;

}
.account{
    display: flex;
    cursor: pointer;

}
.home{

    cursor: pointer;
    display: flex;
}
.wishlist{
    cursor: pointer;
    display: flex;

}
.fa-user{
    cursor: pointer;
    margin-top: 5px;
}



/* MAIN CSS */

/* .WorkWear{
    background-image: url(Img/Homepage-Banner-male.webp);
    height:655px;
    width: 100%;
    object-fit: contain;
} */
.WorkWear img{
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
}

.merchandice{
    display: flex;
    padding-left:5px;
    justify-content: space-evenly;
}

.IMG1{
    height: 480px;
    width: 457.683px;
    margin-right: 15px;
    overflow:hidden ;
}
.IMG2{
    height: 480px;
    width: 457.683px;
    margin-right: 15px;
    overflow:hidden ;

}
.IMG3{
    height: 480px;
    width: 457.683px;
    margin-right: 15px;
    overflow:hidden ;

}
.all{
    display:flex;
    flex-direction: column;
    overflow: hidden;
}
.all img{
    height: 355px;
    width: 473px;
    overflow: hidden;
    max-width: 100%;
    max-height:100%;
    object-fit: contain;
}
.Arrivals{
    display: flex;
    /* justify-content: space-evenly; */

    height: 50px;
    margin-bottom: 15px;
    width: 100%;
}
.Arrivals h1{
    text-align: center;
    font-family: Verdana, sans-serif;

}
.boxes{
    display: flex;
    justify-content:space-evenly ;
}
.box1{
    height: 480px;
    width: 20%;
    margin: 0px 10px 10px 5px;
    overflow: hidden;
    cursor: pointer;
}
.box1 img{
     max-width: 100%;
     max-height: 100%;
     object-fit: cover;
     box-shadow: 9px 2px 18px;

}
.box1:hover{
    box-shadow: 5px 15px 13px rgb(216, 119, 119);
}
.box2:hover{
    box-shadow: 5px 15px 13px rgb(216, 119, 119);
}
.box3:hover{
    box-shadow: 5px 15px 13px  rgb(216, 119, 119);
}

.box4:hover{
    box-shadow: 5px 15px 13px  rgb(216, 119, 119);
}

.box2{
    height: 480px;
    width: 20%;
    margin: 0px 10px 10px 5px;
    overflow: hidden;
    cursor: pointer;

}
.box2 img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    box-shadow: 9px 2px 18px;

}

.box3{
    height: 480px;
    width: 20%;
    margin: 0px 10px 10px 5px;
    overflow: hidden;
    cursor: pointer;

}
.box3 img{
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    object-fit: cover;
    box-shadow: 9px 2px 18px;

}
.box4{
    height: 480px;
    width: 20%;
    margin: 0px 10px 10px 5px;
    overflow: hidden;
    cursor: pointer;
    
}
.box4 img{
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    object-fit: cover;
    box-shadow: 9px 2px 18px;

}
h4{
    font-family:Arial, Helvetica, sans-serif;
    box-shadow:5px 5px 15px orange ;
 
}




















/* FOOTER CSS */

ul{
    display: flex;
  }
  ul li{
    position: relative;
    display: block;
    color: #666;
    font-size: 30px;
    height: 60px;
    width: 60px;
    background: #171515;
    line-height: 60px;
    border-radius: 50%;
    margin: 0 15px;
    cursor: pointer;
    overflow: hidden;

    transition: .5s;
  }
  ul li:before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: inherit;
    width: inherit;
    /* background: #d35400; */
    border-radius: 50%;
    transform: scale(.9);
    z-index: -1;
    transition: .5s;
  }
  ul li:nth-child(1):before{
    background: #4267B2;
  }
  ul li:nth-child(2):before{
    background: #1DA1F2;
  }
  ul li:nth-child(3):before{
    background: #E1306C;
  }
  ul li:nth-child(4):before{
    background: #2867B2;
  }
  ul li:nth-child(5):before{
    background: #ff0000;
  }
  ul li:hover:before{
    filter: blur(3px);
    transform: scale(1.2);
    /* box-shadow: 0 0 15px #d35400; */
  }
  ul li:nth-child(1):hover:before{
    box-shadow: 0 0 15px #4267B2;
  }
  ul li:nth-child(2):hover:before{
    box-shadow: 0 0 15px #1DA1F2;
  }
  ul li:nth-child(3):hover:before{
    box-shadow: 0 0 15px #E1306C;
  }
  ul li:nth-child(4):hover:before{
    box-shadow: 0 0 15px #2867B2;
  }
  ul li:nth-child(5):hover:before{
    box-shadow: 0 0 15px #ff0000;
  }
  ul li:nth-child(1):hover{
    color: #456cba;
    box-shadow: 0 0 15px #4267B2;
    text-shadow: 0 0 15px #4267B2;
  }
  ul li:nth-child(2):hover{
    color: #26a4f2;
    box-shadow: 0 0 15px #1DA1F2;
    text-shadow: 0 0 15px #1DA1F2;
  }
  ul li:nth-child(3):hover{
    color: #e23670;
    box-shadow: 0 0 15px #E1306C;
    text-shadow: 0 0 15px #E1306C;
  }
  ul li:nth-child(4):hover{
    color: #2a6cbb;
    box-shadow: 0 0 15px #2867B2;
    text-shadow: 0 0 15px #2867B2;
  }
  ul li:nth-child(5):hover{
    color: #ff1a1a;
    box-shadow: 0 0 15px #ff0000;
    text-shadow: 0 0 15px #ff0000;
  }
  footer{
    display: flex;
    text-align: center;
    align-items: center;
    height: 200px;
    justify-content: center;
    background: #262626;
  }
  footer h3{
    position: relative;
    bottom: 50px;
    left: 280px;
  }